<center>
<h1> COVID 19 WORLD DATA ANALYSIS</h1>
</center>

In [2]:
import numpy as np  
import pandas as pd

<h3>Reading data into Pandas Dataframe</h3>

* Dataset: Our Word In Data - [Coronavirus Pandemic Data](https://ourworldindata.org/coronavirus)<br>
* The dataset contains global covid 19 case census.

In [3]:
death_data = pd.read_csv('covid-death-data.csv')
death_data=death_data.dropna(subset=['continent','location'])
death_data = death_data.fillna(0)

In [4]:
vacination_data = pd.read_csv('covid-vacination-data.csv')
vacination_data=vacination_data.dropna(subset=['continent','location'])
vacination_data=vacination_data.fillna(0)

* Cleaning unnecesarry columns for this analysis

In [5]:
death_data=death_data[death_data["location"].str.contains("World")==False]
death_data=death_data[death_data["location"].str.contains("Upper middle income")==False]
death_data=death_data[death_data["location"].str.contains("High income")==False]
death_data=death_data[death_data["location"].str.contains("Europe")==False]
death_data=death_data[death_data["location"].str.contains("Africa")==False]
death_data=death_data[death_data["location"].str.contains("Asia")==False]
death_data=death_data[death_data["location"].str.contains("South America")==False]
death_data=death_data[death_data["location"].str.contains("North America")==False]
death_data=death_data[death_data["location"].str.contains("Lower middle income")==False]

In [6]:
vacination_data=vacination_data[vacination_data["location"].str.contains("World")==False]
vacination_data=vacination_data[vacination_data["location"].str.contains("High income")==False]
vacination_data=vacination_data[vacination_data["location"].str.contains("Upper middle income")==False]
vacination_data=vacination_data[vacination_data["location"].str.contains("Lower middle income")==False]
vacination_data=vacination_data[vacination_data["location"].str.contains("Africa")==False]
vacination_data=vacination_data[vacination_data["location"].str.contains("Asia")==False]
vacination_data=vacination_data[vacination_data["location"].str.contains("Europe")==False]
vacination_data=vacination_data[vacination_data["location"].str.contains("North America")==False]
vacination_data=vacination_data[vacination_data["location"].str.contains("South America")==False]

<center>
<h2> CASE AND DEATH CENCUS ANALYSIS</h2>
</center>

* Selecting Columns for Analysis

In [7]:
death_data = death_data[['continent','location','date','total_cases','new_cases','total_deaths','new_deaths','population']]
death_data

,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,population
0,Asia,Afghanistan,24/02/2020,5.0,5.0,0.0,0.0,39835428.0
1,Asia,Afghanistan,25/02/2020,5.0,0.0,0.0,0.0,39835428.0
2,Asia,Afghanistan,26/02/2020,5.0,0.0,0.0,0.0,39835428.0
3,Asia,Afghanistan,27/02/2020,5.0,0.0,0.0,0.0,39835428.0
4,Asia,Afghanistan,28/02/2020,5.0,0.0,0.0,0.0,39835428.0
...,...,...,...,...,...,...,...,...
187092,Africa,Zimbabwe,12/05/2022,248943.0,301.0,5481.0,0.0,15092171.0
187093,Africa,Zimbabwe,13/05/2022,249131.0,188.0,5482.0,1.0,15092171.0
187094,Africa,Zimbabwe,14/05/2022,249206.0,75.0,5482.0,0.0,15092171.0
187095,Africa,Zimbabwe,15/05/2022,249206.0,0.0,5482.0,0.0,15092171.0
187096,Africa,Zimbabwe,16/05/2022,249431.0,225.0,5484.0,2.0,15092171.0


<h3>Total Cases vs Population </h3>

* Shows countries with highest covid cases.

In [8]:
infections = pd.DataFrame()
infections['populations'] = death_data.groupby("location")['population'].last()
infections['total_cases'] = death_data.groupby("location")['new_cases'].sum()
infections=infections.reset_index()
infections.sort_values(by=['total_cases'], ascending=False)

            location   populations  total_cases
216    United States  3.329151e+08   82613619.0
91             India  1.393409e+09   43125370.0
27            Brazil  2.139934e+08   30596818.0
69            France  6.742200e+07   29667631.0
74           Germany  8.390047e+07   25818461.0
..               ...           ...          ...
150  Northern Cyprus  0.000000e+00          0.0
147             Niue  1.614000e+03          0.0
139            Nauru  1.087300e+04          0.0
82          Guernsey  6.338500e+04          0.0
101           Jersey  1.010730e+05          0.0

[229 rows x 3 columns]

* Shows infection rate per day

In [9]:
death_data['infection_rate_per_day']=(death_data['total_cases']/death_data['population'])*100
death_data[['date','location','population','total_cases','infection_rate_per_day']]

,date,location,population,total_cases,infection_rate_per_day
0,24/02/2020,Afghanistan,39835428.0,5.0,0.000013
1,25/02/2020,Afghanistan,39835428.0,5.0,0.000013
2,26/02/2020,Afghanistan,39835428.0,5.0,0.000013
3,27/02/2020,Afghanistan,39835428.0,5.0,0.000013
4,28/02/2020,Afghanistan,39835428.0,5.0,0.000013
...,...,...,...,...,...
187092,12/05/2022,Zimbabwe,15092171.0,248943.0,1.649484
187093,13/05/2022,Zimbabwe,15092171.0,249131.0,1.650730
187094,14/05/2022,Zimbabwe,15092171.0,249206.0,1.651227
187095,15/05/2022,Zimbabwe,15092171.0,249206.0,1.651227
187096,16/05/2022,Zimbabwe,15092171.0,249431.0,1.652718

* Shows countries with Highest Infection Rate per their Population

In [10]:
highest_infection_rate_population = pd.DataFrame()
highest_infection_rate_population['populations'] = death_data.groupby("location")['population'].last()
highest_infection_rate_population['total_cases'] = death_data.groupby("location")['new_cases'].sum()
highest_infection_rate_population['highest_infection_rate_population']=death_data.groupby("location")["infection_rate_per_day"].last()
highest_infection_rate_population=highest_infection_rate_population.reset_index()
highest_infection_rate_population.sort_values(by=['highest_infection_rate_population'], ascending=False)

,location,populations,total_cases,highest_infection_rate_population
65,Faeroe Islands,49053.0,34658.0,70.654190
3,Andorra,77354.0,42156.0,54.497505
50,Cyprus,896005.0,486086.0,54.250367
53,Denmark,5813302.0,3130742.0,53.820376
76,Gibraltar,33691.0,18152.0,53.809623
...,...,...,...,...
101,Jersey,101073.0,0.0,0.000000
82,Guernsey,63385.0,0.0,0.000000
139,Nauru,10873.0,0.0,0.000000
211,Tuvalu,11925.0,0.0,0.000000
150,Northern Cyprus,0.0,0.0,NaN

<h3>Total Cases vs Total Deaths</h3>

* Shows probability of dying if infected with covid per day.

In [11]:
death_data['death_rate'] = (death_data['total_deaths']/death_data['total_cases'])*100
death_data[['date','location','population','total_cases','total_deaths','death_rate']]

,date,location,population,total_cases,total_deaths,death_rate
0,24/02/2020,Afghanistan,39835428.0,5.0,0.0,0.000000
1,25/02/2020,Afghanistan,39835428.0,5.0,0.0,0.000000
2,26/02/2020,Afghanistan,39835428.0,5.0,0.0,0.000000
3,27/02/2020,Afghanistan,39835428.0,5.0,0.0,0.000000
4,28/02/2020,Afghanistan,39835428.0,5.0,0.0,0.000000
...,...,...,...,...,...,...
187092,12/05/2022,Zimbabwe,15092171.0,248943.0,5481.0,2.201709
187093,13/05/2022,Zimbabwe,15092171.0,249131.0,5482.0,2.200449
187094,14/05/2022,Zimbabwe,15092171.0,249206.0,5482.0,2.199787
187095,15/05/2022,Zimbabwe,15092171.0,249206.0,5482.0,2.199787
187096,16/05/2022,Zimbabwe,15092171.0,249431.0,5484.0,2.198604

* Shows countries with Highest Death Count

In [12]:
country_death_count = pd.DataFrame()
country_death_count['total_deaths'] = death_data.groupby(["location","population"])["new_deaths"].sum()
country_death_count=country_death_count.reset_index()
country_death_count.sort_values(by=['total_deaths'],ascending=False)

                 location    population  total_deaths
216         United States  3.329151e+08      999842.0
27                 Brazil  2.139934e+08      665216.0
91                  India  1.393409e+09      516887.0
168                Russia  1.459120e+08      370145.0
128                Mexico  1.302622e+08      317572.0
..                    ...           ...           ...
129  Micronesia (country)  1.162550e+05           0.0
170          Saint Helena  6.095000e+03           0.0
118                 Macao  6.583910e+05           0.0
125      Marshall Islands  5.961800e+04           0.0
66       Falkland Islands  3.528000e+03           0.0

[229 rows x 3 columns]

<h3>Continent Analysis</h3>

* Showing contintents with the highest death count per population

In [13]:
continent_death_count = pd.DataFrame()
continent_death_count['total_cases']=death_data.groupby(['continent'])['new_cases'].sum()
continent_death_count['number_of_death']=death_data.groupby(['continent'])['new_deaths'].sum()
continent_death_count['death_rate_per_population']=(death_data.groupby("continent")["new_deaths"].sum() / death_data.groupby("continent")["new_cases"].sum())*100
continent_death_count = continent_death_count.reset_index()
continent_death_count

       continent  total_cases  number_of_death  death_rate_per_population
0         Africa    7886172.0         152715.0                   1.936491
1           Asia  150504842.0        1425264.0                   0.946989
2         Europe  195762945.0        1830725.0                   0.935174
3  North America   97757959.0        1432300.0                   1.465149
4        Oceania    8100065.0          11517.0                   0.142184
5  South America   57019205.0        1272261.0                   2.231285

<h3> Global Death Numbers </h3>

In [14]:
global_death_percentage = (death_data['new_deaths'].sum()/death_data['new_cases'].sum())*100
print("Total Cases : ",death_data['new_cases'].sum(),"\nTotal Deaths : ",death_data['new_deaths'].sum(),"\nDeath Percentage : ",global_death_percentage)

Total Cases :  517031188.0
Total Deaths :  6124782.0
Death Percentage :  1.1846059081449454

<center>
<h2> VACINATION CENCUS ANALYSIS</h2>
</center>

* Selecting Columns for Analysis

In [15]:
vacination_data = vacination_data[['continent','location','date','population','new_vaccinations','people_fully_vaccinated']]
vacination_data.replace([np.inf, -np.inf], np.nan, inplace=True)
vacination_data.fillna(0).head()

,continent,location,date,population,new_vaccinations,people_fully_vaccinated
0,Asia,Afghanistan,24/02/2020,39835428.0,0.0,0.0
1,Asia,Afghanistan,25/02/2020,39835428.0,0.0,0.0
2,Asia,Afghanistan,26/02/2020,39835428.0,0.0,0.0
3,Asia,Afghanistan,27/02/2020,39835428.0,0.0,0.0
4,Asia,Afghanistan,28/02/2020,39835428.0,0.0,0.0

<h3>Total Population vs Vaccinations(CONTINENT)</h3>

* Shows Percentage of Population that has recieved at least one Covid Vaccine

In [16]:
continent_vaccination =(vacination_data.groupby("continent")["new_vaccinations"].sum() / vacination_data.groupby("continent")["population"].sum())*100
continent_vaccination.sort_values(ascending=False)

continent
South America    0.217583
Oceania          0.193077
Asia             0.176077
North America    0.176027
Europe           0.172655
Africa           0.009150
dtype: float64

<h3>Total Population vs Vaccinations(Country)</h3>

* Shows Percentage of Population that has recieved at least one Covid Vaccine

In [17]:
country_vaccination = (vacination_data.groupby("location")["new_vaccinations"].sum() / vacination_data.groupby("location")["population"].sum())*100
country_vaccination.replace([np.inf, -np.inf], np.nan, inplace=True)
country_vaccination.sort_values(ascending=False).head()

location
Cuba         0.352555
Chile        0.347617
Gibraltar    0.340503
Singapore    0.304391
Malta        0.302231
dtype: float64

<h3>Gobal Numbers</h3>

In [18]:
global_total_vacination = vacination_data["new_vaccinations"].sum()

<center><h2>Creating tables for Visualization</h2></center>

In [19]:
#Getting Countries and their population
country = pd.DataFrame()
country["population"] = death_data.groupby("location")["population"].last()
country =country.reset_index()
country

              location  population
0          Afghanistan  39835428.0
1              Albania   2872934.0
2              Algeria  44616626.0
3              Andorra     77354.0
4               Angola  33933611.0
..                 ...         ...
224  Wallis and Futuna     11094.0
225     Western Sahara    611872.0
226              Yemen  30490639.0
227             Zambia  18920657.0
228           Zimbabwe  15092171.0

[229 rows x 2 columns]

* World Table

In [20]:
world_table = pd.DataFrame()
world_table["Population"]=[country["population"].sum()]
world_table["Total Cases"]= [death_data['new_cases'].sum()]
world_table["Total Deaths"]=[death_data["new_deaths"].sum()]
world_table["Percentage of Death"] = [global_death_percentage]
world_table["Total Vaccinated"] = [vacination_data['people_fully_vaccinated'].sum()]
world_table["Percentage Vacinated"] = [(global_total_vacination/country["population"].sum())]
world_table

,Population,Total Cases,Total Deaths,Percentage of Death,Total Vaccinated,Percentage Vacinated
0,7.809670e+09,517031188.0,6124782.0,1.184606,6.541427e+11,1.245598

* Continent Table

In [21]:
continent_table = pd.DataFrame()
continent_table = continent_death_count.reset_index()
continent_table

,index,continent,total_cases,number_of_death,death_rate_per_population
0,0,Africa,7886172.0,152715.0,1.936491
1,1,Asia,150504842.0,1425264.0,0.946989
2,2,Europe,195762945.0,1830725.0,0.935174
3,3,North America,97757959.0,1432300.0,1.465149
4,4,Oceania,8100065.0,11517.0,0.142184
5,5,South America,57019205.0,1272261.0,2.231285

* Country Table

In [22]:
country_table = pd.DataFrame()
country_table['cases'] =death_data.groupby("location")["total_cases"].max()
country_table=country_table.reset_index()
country_table['population'] = country['population']
country_table['percentagePerPopulation']=(country_table['cases']/country_table['population'])*100
country_table=country_table.fillna(0)
country_table.sort_values(by=['percentagePerPopulation'], ascending=False)

,location,cases,population,percentagePerPopulation
65,Faeroe Islands,34658.0,49053.0,70.654190
3,Andorra,42156.0,77354.0,54.497505
50,Cyprus,486086.0,896005.0,54.250367
53,Denmark,3128741.0,5813302.0,53.820376
76,Gibraltar,18129.0,33691.0,53.809623
...,...,...,...,...
217,United States Virgin Islands,0.0,104218.0,0.000000
139,Nauru,0.0,10873.0,0.000000
165,Puerto Rico,0.0,2828246.0,0.000000
209,Turkmenistan,0.0,6117933.0,0.000000
204,Tokelau,0.0,1368.0,0.000000

In [23]:
world_table.to_csv('globaldata.csv')
continent_table.to_csv('continentdata.csv')
country_table.to_csv('countrydata.csv')