<center>
<h1> COVID 19 WORLD DATA ANALYSIS</h1>
</center>

In [1]:
import numpy as np  
import pandas as pd

<h3>Reading data into Pandas Dataframe</h3>

Dataset: Our Word In Data - [Coronavirus Pandemic Data](https://ourworldindata.org/coronavirus)<br>
The dataset contains global covid 19 case census.

In [2]:
death_data = pd.read_csv('covid-death-data.csv')
death_data.fillna(0)

,iso_code,continent,location,date,population,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,24/02/2020,39835428.0,5.0,5.0,0.000,0.0,0.0,...,0.0,0.0,37.746,0.5,64.83,0.511,0.0,0.0,0.0,0.0
1,AFG,Asia,Afghanistan,25/02/2020,39835428.0,5.0,0.0,0.000,0.0,0.0,...,0.0,0.0,37.746,0.5,64.83,0.511,0.0,0.0,0.0,0.0
2,AFG,Asia,Afghanistan,26/02/2020,39835428.0,5.0,0.0,0.000,0.0,0.0,...,0.0,0.0,37.746,0.5,64.83,0.511,0.0,0.0,0.0,0.0
3,AFG,Asia,Afghanistan,27/02/2020,39835428.0,5.0,0.0,0.000,0.0,0.0,...,0.0,0.0,37.746,0.5,64.83,0.511,0.0,0.0,0.0,0.0
4,AFG,Asia,Afghanistan,28/02/2020,39835428.0,5.0,0.0,0.000,0.0,0.0,...,0.0,0.0,37.746,0.5,64.83,0.511,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187092,ZWE,Africa,Zimbabwe,12/05/2022,15092171.0,248943.0,301.0,127.571,5481.0,0.0,...,1.6,30.7,36.791,1.7,61.49,0.571,0.0,0.0,0.0,0.0
187093,ZWE,Africa,Zimbabwe,13/05/2022,15092171.0,249131.0,188.0,131.000,5482.0,1.0,...,1.6,30.7,36.791,1.7,61.49,0.571,0.0,0.0,0.0,0.0
187094,ZWE,Africa,Zimbabwe,14/05/2022,15092171.0,249206.0,75.0,141.714,5482.0,0.0,...,1.6,30.7,36.791,1.7,61.49,0.571,0.0,0.0,0.0,0.0
187095,ZWE,Africa,Zimbabwe,15/05/2022,15092171.0,249206.0,0.0,122.000,5482.0,0.0,...,1.6,30.7,36.791,1.7,61.49,0.571,0.0,0.0,0.0,0.0
187096,ZWE,Africa,Zimbabwe,16/05/2022,15092171.0,249431.0,225.0,127.857,5484.0,2.0,...,1.6,30.7,36.791,1.7,61.49,0.571,0.0,0.0,0.0,0.0

In [3]:
vacination_data = pd.read_csv('covid-vacination-data.csv')
vacination_data.fillna(0)

,iso_code,continent,location,date,population,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,24/02/2020,39835428.0,5.0,5.0,0.000,0.0,0.0,...,0.0,0.0,37.746,0.5,64.83,0.511,0.0,0.0,0.0,0.0
1,AFG,Asia,Afghanistan,25/02/2020,39835428.0,5.0,0.0,0.000,0.0,0.0,...,0.0,0.0,37.746,0.5,64.83,0.511,0.0,0.0,0.0,0.0
2,AFG,Asia,Afghanistan,26/02/2020,39835428.0,5.0,0.0,0.000,0.0,0.0,...,0.0,0.0,37.746,0.5,64.83,0.511,0.0,0.0,0.0,0.0
3,AFG,Asia,Afghanistan,27/02/2020,39835428.0,5.0,0.0,0.000,0.0,0.0,...,0.0,0.0,37.746,0.5,64.83,0.511,0.0,0.0,0.0,0.0
4,AFG,Asia,Afghanistan,28/02/2020,39835428.0,5.0,0.0,0.000,0.0,0.0,...,0.0,0.0,37.746,0.5,64.83,0.511,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187092,ZWE,Africa,Zimbabwe,12/05/2022,15092171.0,248943.0,301.0,127.571,5481.0,0.0,...,1.6,30.7,36.791,1.7,61.49,0.571,0.0,0.0,0.0,0.0
187093,ZWE,Africa,Zimbabwe,13/05/2022,15092171.0,249131.0,188.0,131.000,5482.0,1.0,...,1.6,30.7,36.791,1.7,61.49,0.571,0.0,0.0,0.0,0.0
187094,ZWE,Africa,Zimbabwe,14/05/2022,15092171.0,249206.0,75.0,141.714,5482.0,0.0,...,1.6,30.7,36.791,1.7,61.49,0.571,0.0,0.0,0.0,0.0
187095,ZWE,Africa,Zimbabwe,15/05/2022,15092171.0,249206.0,0.0,122.000,5482.0,0.0,...,1.6,30.7,36.791,1.7,61.49,0.571,0.0,0.0,0.0,0.0
187096,ZWE,Africa,Zimbabwe,16/05/2022,15092171.0,249431.0,225.0,127.857,5484.0,2.0,...,1.6,30.7,36.791,1.7,61.49,0.571,0.0,0.0,0.0,0.0

Cleaning unnecesarry columns for this analysis

In [4]:
death_data=death_data[death_data["location"].str.contains("World")==False]
death_data=death_data[death_data["location"].str.contains("Upper middle income")==False]
death_data=death_data[death_data["location"].str.contains("High income")==False]
death_data=death_data[death_data["location"].str.contains("Europe")==False]
death_data=death_data[death_data["location"].str.contains("Africa")==False]
death_data=death_data[death_data["location"].str.contains("Asia")==False]
death_data=death_data[death_data["location"].str.contains("South America")==False]
death_data=death_data[death_data["location"].str.contains("North America")==False]
death_data=death_data[death_data["location"].str.contains("Lower middle income")==False]

In [5]:
vacination_data=vacination_data[vacination_data["location"].str.contains("World")==False]
vacination_data=vacination_data[vacination_data["location"].str.contains("High income")==False]
vacination_data=vacination_data[vacination_data["location"].str.contains("Upper middle income")==False]
vacination_data=vacination_data[vacination_data["location"].str.contains("Lower middle income")==False]
vacination_data=vacination_data[vacination_data["location"].str.contains("Africa")==False]
vacination_data=vacination_data[vacination_data["location"].str.contains("Asia")==False]
vacination_data=vacination_data[vacination_data["location"].str.contains("Europe")==False]
vacination_data=vacination_data[vacination_data["location"].str.contains("North America")==False]
vacination_data=vacination_data[vacination_data["location"].str.contains("South America")==False]

<center>
<h2> DEATH CENCUS ANALYSIS</h2>
</center>

Selecting Columns for Analysis

In [6]:
death_data_sample = death_data[['continent','location','date','total_cases','new_cases','total_deaths','new_deaths','population']]
death_data_sample.fillna(0)

,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,population
0,Asia,Afghanistan,24/02/2020,5.0,5.0,0.0,0.0,39835428.0
1,Asia,Afghanistan,25/02/2020,5.0,0.0,0.0,0.0,39835428.0
2,Asia,Afghanistan,26/02/2020,5.0,0.0,0.0,0.0,39835428.0
3,Asia,Afghanistan,27/02/2020,5.0,0.0,0.0,0.0,39835428.0
4,Asia,Afghanistan,28/02/2020,5.0,0.0,0.0,0.0,39835428.0
...,...,...,...,...,...,...,...,...
187092,Africa,Zimbabwe,12/05/2022,248943.0,301.0,5481.0,0.0,15092171.0
187093,Africa,Zimbabwe,13/05/2022,249131.0,188.0,5482.0,1.0,15092171.0
187094,Africa,Zimbabwe,14/05/2022,249206.0,75.0,5482.0,0.0,15092171.0
187095,Africa,Zimbabwe,15/05/2022,249206.0,0.0,5482.0,0.0,15092171.0
187096,Africa,Zimbabwe,16/05/2022,249431.0,225.0,5484.0,2.0,15092171.0

Total Cases vs Total Deaths<br>
* Shows probability of dying if you contract covid in your country

In [7]:
death_percentage = (death_data_sample['total_deaths']/death_data_sample['total_cases'])*100
death_percentage.fillna(0)

0         0.000000
1         0.000000
2         0.000000
3         0.000000
4         0.000000
            ...
187092    2.201709
187093    2.200449
187094    2.199787
187095    2.199787
187096    2.198604
Length: 177069, dtype: float64

Total Cases vs Population
Shows what percentage of population infected with Covid

In [28]:
death_data_sample['case_percentage_per_population'] = (death_data_sample['total_cases']/death_data_sample['population'])*100
death_data_sample.fillna(0)

C:\Users\oseis\AppData\Local\Temp\ipykernel_14328\114126676.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  death_data_sample['case_percentage_per_population'] = (death_data_sample['total_cases']/death_data_sample['population'])*100

,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,population,case_percentage_per_population
0,Asia,Afghanistan,24/02/2020,5.0,5.0,0.0,0.0,39835428.0,0.000013
1,Asia,Afghanistan,25/02/2020,5.0,0.0,0.0,0.0,39835428.0,0.000013
2,Asia,Afghanistan,26/02/2020,5.0,0.0,0.0,0.0,39835428.0,0.000013
3,Asia,Afghanistan,27/02/2020,5.0,0.0,0.0,0.0,39835428.0,0.000013
4,Asia,Afghanistan,28/02/2020,5.0,0.0,0.0,0.0,39835428.0,0.000013
...,...,...,...,...,...,...,...,...,...
187092,Africa,Zimbabwe,12/05/2022,248943.0,301.0,5481.0,0.0,15092171.0,1.649484
187093,Africa,Zimbabwe,13/05/2022,249131.0,188.0,5482.0,1.0,15092171.0,1.650730
187094,Africa,Zimbabwe,14/05/2022,249206.0,75.0,5482.0,0.0,15092171.0,1.651227
187095,Africa,Zimbabwe,15/05/2022,249206.0,0.0,5482.0,0.0,15092171.0,1.651227
187096,Africa,Zimbabwe,16/05/2022,249431.0,225.0,5484.0,2.0,15092171.0,1.652718

Countries with Highest Infection Rate compared to Population

In [29]:
death_data_sample.sort_values(by='case_percentage_per_population',ascending=False)

,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,population,case_percentage_per_population
56696,Europe,Faeroe Islands,01/05/2022,34658.0,0.0,28.0,0.0,49053.0,70.65419
56679,Europe,Faeroe Islands,14/04/2022,34658.0,0.0,28.0,0.0,49053.0,70.65419
56667,Europe,Faeroe Islands,02/04/2022,34658.0,0.0,28.0,0.0,49053.0,70.65419
56668,Europe,Faeroe Islands,03/04/2022,34658.0,0.0,28.0,0.0,49053.0,70.65419
56669,Europe,Faeroe Islands,04/04/2022,34658.0,0.0,28.0,0.0,49053.0,70.65419
...,...,...,...,...,...,...,...,...,...
177898,North America,United States Virgin Islands,10/05/2022,NaN,NaN,NaN,NaN,104218.0,NaN
177899,North America,United States Virgin Islands,11/05/2022,NaN,NaN,NaN,NaN,104218.0,NaN
177900,North America,United States Virgin Islands,12/05/2022,NaN,NaN,NaN,NaN,104218.0,NaN
177901,North America,United States Virgin Islands,13/05/2022,NaN,NaN,NaN,NaN,104218.0,NaN
183905,Africa,Western Sahara,20/04/2022,NaN,NaN,NaN,NaN,611872.0,NaN

Countries with Highest Death Count per Population

In [10]:
death_data_sample.sort_values(by='total_deaths',ascending=False)

,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,population,case_percentage_per_population
177120,North America,United States,16/05/2022,82613620.0,145014.0,999842.0,240.0,332915074.0,24.815224
177119,North America,United States,15/05/2022,82468606.0,30890.0,999602.0,32.0,332915074.0,24.771665
177118,North America,United States,14/05/2022,82437716.0,16092.0,999570.0,52.0,332915074.0,24.762386
177117,North America,United States,13/05/2022,82421624.0,95937.0,999518.0,393.0,332915074.0,24.757552
177116,North America,United States,12/05/2022,82325687.0,102513.0,999125.0,128.0,332915074.0,24.728735
...,...,...,...,...,...,...,...,...,...
185532,Africa,Zambia,31/03/2020,35.0,0.0,NaN,NaN,18920657.0,0.000185
185533,Africa,Zambia,01/04/2020,36.0,1.0,NaN,NaN,18920657.0,0.000190
186309,Africa,Zimbabwe,20/03/2020,1.0,1.0,NaN,NaN,15092171.0,0.000007
186310,Africa,Zimbabwe,21/03/2020,3.0,2.0,NaN,NaN,15092171.0,0.000020
186311,Africa,Zimbabwe,22/03/2020,3.0,0.0,NaN,NaN,15092171.0,0.000020

<h3>Continent Analysis</h3>

Showing contintents with the highest death count per population

In [15]:
continent_death_count = death_data_sample.groupby("continent")["new_deaths"].sum()
continent_death_count.sort_values(ascending=False)

continent
Europe           1830725.0
North America    1432300.0
Asia             1425264.0
South America    1272261.0
Africa            152715.0
Oceania            11517.0
Name: new_deaths, dtype: float64

Total cases VS Total Death for each continent

In [18]:
death_percentage_for_continents =(death_data_sample.groupby("continent")["new_deaths"].sum() / death_data_sample.groupby("continent")["new_cases"].sum())*100
death_percentage_for_continents.sort_values(ascending=False)

continent
South America    2.231285
Africa           1.936491
North America    1.465149
Asia             0.946989
Europe           0.935174
Oceania          0.142184
dtype: float64

<h2> Global Death Numbers </h2>

In [25]:
global_death_percentage = (death_data_sample['new_deaths'].sum()/death_data_sample['new_cases'].sum())*100
print("Total Cases : ",death_data_sample['new_cases'].sum(),"\nTotal Deaths : ",death_data_sample['new_deaths'].sum(),"\nDeath Percentage : ",global_death_percentage)

Total Cases :  526957236.0
Total Deaths :  6179519.0
Death Percentage :  1.1726794088467551

<center>
<h2> VACINATION CENCUS ANALYSIS</h2>
</center>

Selecting Columns for Analysis

In [14]:
vacination_data_sample = vacination_data[['continent','location','date','population','new_vaccinations']]

Total Population vs Vaccinations
* Shows Percentage of Population that has recieved at least one Covid Vaccine