<center>
<h2> COVID 19 WORLD DATA ANALYSIS</h2>
</center>

In [2]:
import numpy as np  
import pandas as pd

<h2>Reading data into Pandas Dataframe</h2>

Dataset: Our Word In Data - [Coronavirus Pandemic Data](https://ourworldindata.org/coronavirus)<br>
The dataset contains global covid 19 cases census.

In [3]:
death_data = pd.read_csv("covid-death-data.csv")
death_data.fillna(0)

,iso_code,continent,location,date,population,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,24/02/2020,39835428.0,5.0,5.0,0.000,0.0,0.0,...,0.0,0.0,37.746,0.5,64.83,0.511,0.0,0.0,0.0,0.0
1,AFG,Asia,Afghanistan,25/02/2020,39835428.0,5.0,0.0,0.000,0.0,0.0,...,0.0,0.0,37.746,0.5,64.83,0.511,0.0,0.0,0.0,0.0
2,AFG,Asia,Afghanistan,26/02/2020,39835428.0,5.0,0.0,0.000,0.0,0.0,...,0.0,0.0,37.746,0.5,64.83,0.511,0.0,0.0,0.0,0.0
3,AFG,Asia,Afghanistan,27/02/2020,39835428.0,5.0,0.0,0.000,0.0,0.0,...,0.0,0.0,37.746,0.5,64.83,0.511,0.0,0.0,0.0,0.0
4,AFG,Asia,Afghanistan,28/02/2020,39835428.0,5.0,0.0,0.000,0.0,0.0,...,0.0,0.0,37.746,0.5,64.83,0.511,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187092,ZWE,Africa,Zimbabwe,12/05/2022,15092171.0,248943.0,301.0,127.571,5481.0,0.0,...,1.6,30.7,36.791,1.7,61.49,0.571,0.0,0.0,0.0,0.0
187093,ZWE,Africa,Zimbabwe,13/05/2022,15092171.0,249131.0,188.0,131.000,5482.0,1.0,...,1.6,30.7,36.791,1.7,61.49,0.571,0.0,0.0,0.0,0.0
187094,ZWE,Africa,Zimbabwe,14/05/2022,15092171.0,249206.0,75.0,141.714,5482.0,0.0,...,1.6,30.7,36.791,1.7,61.49,0.571,0.0,0.0,0.0,0.0
187095,ZWE,Africa,Zimbabwe,15/05/2022,15092171.0,249206.0,0.0,122.000,5482.0,0.0,...,1.6,30.7,36.791,1.7,61.49,0.571,0.0,0.0,0.0,0.0
187096,ZWE,Africa,Zimbabwe,16/05/2022,15092171.0,249431.0,225.0,127.857,5484.0,2.0,...,1.6,30.7,36.791,1.7,61.49,0.571,0.0,0.0,0.0,0.0

Selecting Columns for Analysis

In [4]:
data_sample = death_data[['location','date','total_cases','new_cases','total_deaths','population']]
data_sample.fillna(0)

,location,date,total_cases,new_cases,total_deaths,population
0,Afghanistan,24/02/2020,5.0,5.0,0.0,39835428.0
1,Afghanistan,25/02/2020,5.0,0.0,0.0,39835428.0
2,Afghanistan,26/02/2020,5.0,0.0,0.0,39835428.0
3,Afghanistan,27/02/2020,5.0,0.0,0.0,39835428.0
4,Afghanistan,28/02/2020,5.0,0.0,0.0,39835428.0
...,...,...,...,...,...,...
187092,Zimbabwe,12/05/2022,248943.0,301.0,5481.0,15092171.0
187093,Zimbabwe,13/05/2022,249131.0,188.0,5482.0,15092171.0
187094,Zimbabwe,14/05/2022,249206.0,75.0,5482.0,15092171.0
187095,Zimbabwe,15/05/2022,249206.0,0.0,5482.0,15092171.0
187096,Zimbabwe,16/05/2022,249431.0,225.0,5484.0,15092171.0

*   Total Cases vs Total Deaths<br>
*   Shows likelihood of dying if you contract covid in your country

In [5]:
death_percentage = (data_sample['total_deaths']/data_sample['total_cases'])*100
death_percentage.fillna(0)

0         0.000000
1         0.000000
2         0.000000
3         0.000000
4         0.000000
            ...
187092    2.201709
187093    2.200449
187094    2.199787
187095    2.199787
187096    2.198604
Length: 187097, dtype: float64

* Total Cases vs Population
* Shows what percentage of population infected with Covid

In [6]:
data_sample['case_percentage_per_population'] = (data_sample['total_cases']/data_sample['population'])*100
data_sample

C:\Users\oseis\AppData\Local\Temp\ipykernel_9184\2369760468.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_sample['case_percentage_per_population'] = (data_sample['total_cases']/data_sample['population'])*100

,location,date,total_cases,new_cases,total_deaths,population,case_percentage_per_population
0,Afghanistan,24/02/2020,5.0,5.0,NaN,39835428.0,0.000013
1,Afghanistan,25/02/2020,5.0,0.0,NaN,39835428.0,0.000013
2,Afghanistan,26/02/2020,5.0,0.0,NaN,39835428.0,0.000013
3,Afghanistan,27/02/2020,5.0,0.0,NaN,39835428.0,0.000013
4,Afghanistan,28/02/2020,5.0,0.0,NaN,39835428.0,0.000013
...,...,...,...,...,...,...,...
187092,Zimbabwe,12/05/2022,248943.0,301.0,5481.0,15092171.0,1.649484
187093,Zimbabwe,13/05/2022,249131.0,188.0,5482.0,15092171.0,1.650730
187094,Zimbabwe,14/05/2022,249206.0,75.0,5482.0,15092171.0,1.651227
187095,Zimbabwe,15/05/2022,249206.0,0.0,5482.0,15092171.0,1.651227
187096,Zimbabwe,16/05/2022,249431.0,225.0,5484.0,15092171.0,1.652718

* Countries with Highest Infection Rate compared to Population

In [7]:
data_sample.sort_values(by='case_percentage_per_population',ascending=False)

,location,date,total_cases,new_cases,total_deaths,population,case_percentage_per_population
56675,Faeroe Islands,10/04/2022,34658.0,0.0,28.0,49053.0,70.65419
56693,Faeroe Islands,28/04/2022,34658.0,0.0,28.0,49053.0,70.65419
56691,Faeroe Islands,26/04/2022,34658.0,0.0,28.0,49053.0,70.65419
56690,Faeroe Islands,25/04/2022,34658.0,0.0,28.0,49053.0,70.65419
56689,Faeroe Islands,24/04/2022,34658.0,0.0,28.0,49053.0,70.65419
...,...,...,...,...,...,...,...
177898,United States Virgin Islands,10/05/2022,NaN,NaN,NaN,104218.0,NaN
177899,United States Virgin Islands,11/05/2022,NaN,NaN,NaN,104218.0,NaN
177900,United States Virgin Islands,12/05/2022,NaN,NaN,NaN,104218.0,NaN
177901,United States Virgin Islands,13/05/2022,NaN,NaN,NaN,104218.0,NaN
183905,Western Sahara,20/04/2022,NaN,NaN,NaN,611872.0,NaN