<center>
<h2> COVID 19 WORLD DATA ANALYSIS</h2>
</center>

In [ ]:
import numpy as np  
import pandas as pd

<h2>Reading data into Pandas Dataframe</h2>

Dataset: Our Word In Data - [Coronavirus Pandemic Data](https://ourworldindata.org/coronavirus)<br>
The dataset contains global covid 19 cases census.

In [ ]:
death_data = pd.read_csv("covid-death-data.csv")
death_data.fillna(0)

Selecting Columns for Analysis

In [ ]:
data_sample = death_data[['location','date','total_cases','new_cases','total_deaths','population']]
data_sample.fillna(0)

*   Total Cases vs Total Deaths<br>
*   Shows likelihood of dying if you contract covid in your country

In [ ]:
death_percentage = (data_sample['total_deaths']/data_sample['total_cases'])*100
death_percentage.fillna(0)

* Total Cases vs Population
* Shows what percentage of population infected with Covid

In [ ]:
data_sample['case_percentage_per_population'] = (data_sample['total_cases']/data_sample['population'])*100
data_sample

* Countries with Highest Infection Rate compared to Population

In [10]:
data_sample.sort_values(by='case_percentage_per_population',ascending=False)

,location,date,total_cases,new_cases,total_deaths,population,case_percentage_per_population
56675,Faeroe Islands,10/04/2022,34658.0,0.0,28.0,49053.0,70.65419
56693,Faeroe Islands,28/04/2022,34658.0,0.0,28.0,49053.0,70.65419
56691,Faeroe Islands,26/04/2022,34658.0,0.0,28.0,49053.0,70.65419
56690,Faeroe Islands,25/04/2022,34658.0,0.0,28.0,49053.0,70.65419
56689,Faeroe Islands,24/04/2022,34658.0,0.0,28.0,49053.0,70.65419
...,...,...,...,...,...,...,...
177898,United States Virgin Islands,10/05/2022,NaN,NaN,NaN,104218.0,NaN
177899,United States Virgin Islands,11/05/2022,NaN,NaN,NaN,104218.0,NaN
177900,United States Virgin Islands,12/05/2022,NaN,NaN,NaN,104218.0,NaN
177901,United States Virgin Islands,13/05/2022,NaN,NaN,NaN,104218.0,NaN
183905,Western Sahara,20/04/2022,NaN,NaN,NaN,611872.0,NaN

* Countries with Highest Death Count per Population

In [11]:
data_sample.sort_values(by='total_deaths',ascending=False)

,location,date,total_cases,new_cases,total_deaths,population,case_percentage_per_population
184751,World,16/05/2022,522069120.0,556384.0,6267245.0,7.874966e+09,6.629478
184750,World,15/05/2022,521512736.0,348000.0,6265491.0,7.874966e+09,6.622413
184749,World,14/05/2022,521164736.0,465499.0,6264865.0,7.874966e+09,6.617994
184748,World,13/05/2022,520699237.0,549762.0,6263974.0,7.874966e+09,6.612083
184747,World,12/05/2022,520149475.0,632603.0,6261824.0,7.874966e+09,6.605101
...,...,...,...,...,...,...,...
185532,Zambia,31/03/2020,35.0,0.0,NaN,1.892066e+07,0.000185
185533,Zambia,01/04/2020,36.0,1.0,NaN,1.892066e+07,0.000190
186309,Zimbabwe,20/03/2020,1.0,1.0,NaN,1.509217e+07,0.000007
186310,Zimbabwe,21/03/2020,3.0,2.0,NaN,1.509217e+07,0.000020
186311,Zimbabwe,22/03/2020,3.0,0.0,NaN,1.509217e+07,0.000020