<center>
<h2> COVID 19 WORLD DATA ANALYSIS</h2>
</center>

In [ ]:
import numpy as np  
import pandas as pd

<h2>Reading data into Pandas Dataframe</h2>

* Dataset: Our Word In Data - [Coronavirus Pandemic Data](https://ourworldindata.org/coronavirus)<br>
* The dataset contains global covid 19 case census.

In [ ]:
death_data = pd.read_csv("covid-death-data.csv")
death_data.fillna(0)

* Cleaning location column by removing combined cencus

In [ ]:
death_data=death_data[death_data["location"].str.contains("World")==False]
death_data=death_data[death_data["location"].str.contains("Upper middle income")==False]
death_data=death_data[death_data["location"].str.contains("High income")==False]
death_data=death_data[death_data["location"].str.contains("Europe")==False]
death_data=death_data[death_data["location"].str.contains("Africa")==False]
death_data=death_data[death_data["location"].str.contains("Asia")==False]
death_data=death_data[death_data["location"].str.contains("South America")==False]
death_data=death_data[death_data["location"].str.contains("North America")==False]
death_data=death_data[death_data["location"].str.contains("Lower middle income")==False]

Selecting Columns for Analysis

In [10]:
data_sample = death_data[['continent','location','date','total_cases','new_cases','total_deaths','population']]
data_sample.fillna(0)

,continent,location,date,total_cases,new_cases,total_deaths,population
0,Asia,Afghanistan,24/02/2020,5.0,5.0,0.0,39835428.0
1,Asia,Afghanistan,25/02/2020,5.0,0.0,0.0,39835428.0
2,Asia,Afghanistan,26/02/2020,5.0,0.0,0.0,39835428.0
3,Asia,Afghanistan,27/02/2020,5.0,0.0,0.0,39835428.0
4,Asia,Afghanistan,28/02/2020,5.0,0.0,0.0,39835428.0
...,...,...,...,...,...,...,...
187092,Africa,Zimbabwe,12/05/2022,248943.0,301.0,5481.0,15092171.0
187093,Africa,Zimbabwe,13/05/2022,249131.0,188.0,5482.0,15092171.0
187094,Africa,Zimbabwe,14/05/2022,249206.0,75.0,5482.0,15092171.0
187095,Africa,Zimbabwe,15/05/2022,249206.0,0.0,5482.0,15092171.0
187096,Africa,Zimbabwe,16/05/2022,249431.0,225.0,5484.0,15092171.0

*   Total Cases vs Total Deaths<br>
*   Shows likelihood of dying if you contract covid in your country

In [ ]:
death_percentage = (data_sample['total_deaths']/data_sample['total_cases'])*100
death_percentage.fillna(0)

* Total Cases vs Population
* Shows what percentage of population infected with Covid

In [ ]:
data_sample['case_percentage_per_population'] = (data_sample['total_cases']/data_sample['population'])*100
data_sample.fillna(0)

* Countries with Highest Infection Rate compared to Population

In [ ]:
data_sample.sort_values(by='case_percentage_per_population',ascending=False)

* Countries with Highest Death Count per Population

In [ ]:
data_sample.sort_values(by='total_deaths',ascending=False)

<h3>BREAKING THINGS DOWN BY CONTINENT</h3>

* Showing contintents with the highest death count per population

In [12]:
continent_death_count = data_sample.groupby("continent")["total_deaths"].sum()
continent_death_count.sort_values(ascending=False)

continent
Europe           692592752.0
North America    585524681.0
South America    559700731.0
Asia             512943098.0
Africa            56794493.0
Oceania            1985133.0
Name: total_deaths, dtype: float64

* Total cases VS Total Death for each continent

In [15]:
death_percentage_for_continents =(data_sample.groupby("continent")["total_deaths"].sum() / data_sample.groupby("continent")["total_cases"].sum())*100
death_percentage_for_continents.sort_values(ascending=False)

continent
South America    2.872408
Africa           2.170589
North America    1.953260
Europe           1.661396
Asia             1.332274
Oceania          0.299520
dtype: float64