<center>
<h1> COVID 19 WORLD DATA ANALYSIS</h1>
</center>

In [1]:
import numpy as np  
import pandas as pd

<h3>Reading data into Pandas Dataframe</h3>

* Dataset: Our Word In Data - [Coronavirus Pandemic Data](https://ourworldindata.org/coronavirus)<br>
* The dataset contains global covid 19 case census.

In [2]:
death_data = pd.read_csv('covid-death-data.csv')
death_data.dropna(subset=['continent','location']).head()

,iso_code,continent,location,date,population,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,24/02/2020,39835428.0,5.0,5.0,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,25/02/2020,39835428.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,26/02/2020,39835428.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,27/02/2020,39835428.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,28/02/2020,39835428.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [3]:
vacination_data = pd.read_csv('covid-vacination-data.csv')
death_data.dropna(subset=['continent','location']).head()

,iso_code,continent,location,date,population,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,24/02/2020,39835428.0,5.0,5.0,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,25/02/2020,39835428.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,26/02/2020,39835428.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,27/02/2020,39835428.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,28/02/2020,39835428.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

* Cleaning unnecesarry columns for this analysis

In [4]:
death_data=death_data[death_data["location"].str.contains("World")==False]
death_data=death_data[death_data["location"].str.contains("Upper middle income")==False]
death_data=death_data[death_data["location"].str.contains("High income")==False]
death_data=death_data[death_data["location"].str.contains("Europe")==False]
death_data=death_data[death_data["location"].str.contains("Africa")==False]
death_data=death_data[death_data["location"].str.contains("Asia")==False]
death_data=death_data[death_data["location"].str.contains("South America")==False]
death_data=death_data[death_data["location"].str.contains("North America")==False]
death_data=death_data[death_data["location"].str.contains("Lower middle income")==False]

In [5]:
vacination_data=vacination_data[vacination_data["location"].str.contains("World")==False]
vacination_data=vacination_data[vacination_data["location"].str.contains("High income")==False]
vacination_data=vacination_data[vacination_data["location"].str.contains("Upper middle income")==False]
vacination_data=vacination_data[vacination_data["location"].str.contains("Lower middle income")==False]
vacination_data=vacination_data[vacination_data["location"].str.contains("Africa")==False]
vacination_data=vacination_data[vacination_data["location"].str.contains("Asia")==False]
vacination_data=vacination_data[vacination_data["location"].str.contains("Europe")==False]
vacination_data=vacination_data[vacination_data["location"].str.contains("North America")==False]
vacination_data=vacination_data[vacination_data["location"].str.contains("South America")==False]

<center>
<h2> DEATH CENCUS ANALYSIS</h2>
</center>

* Selecting Columns for Analysis

In [7]:
death_data = death_data[['continent','location','date','total_cases','new_cases','total_deaths','new_deaths','population']]
death_data.fillna(0).head()

,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,population
0,Asia,Afghanistan,24/02/2020,5.0,5.0,0.0,0.0,39835428.0
1,Asia,Afghanistan,25/02/2020,5.0,0.0,0.0,0.0,39835428.0
2,Asia,Afghanistan,26/02/2020,5.0,0.0,0.0,0.0,39835428.0
3,Asia,Afghanistan,27/02/2020,5.0,0.0,0.0,0.0,39835428.0
4,Asia,Afghanistan,28/02/2020,5.0,0.0,0.0,0.0,39835428.0


Total Cases vs Population <br>
Shows what percentage of population infected with Covid

In [9]:

death_data['case_percentage_per_population'] = (death_data['total_cases']/death_data['population'])*100
death_data.fillna(0).head()

,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,population,probability_of_death
0,Asia,Afghanistan,24/02/2020,5.0,5.0,0.0,0.0,39835428.0,0.0
1,Asia,Afghanistan,25/02/2020,5.0,0.0,0.0,0.0,39835428.0,0.0
2,Asia,Afghanistan,26/02/2020,5.0,0.0,0.0,0.0,39835428.0,0.0
3,Asia,Afghanistan,27/02/2020,5.0,0.0,0.0,0.0,39835428.0,0.0
4,Asia,Afghanistan,28/02/2020,5.0,0.0,0.0,0.0,39835428.0,0.0

Total Cases vs Total Deaths<br>
* Shows probability of dying if you contract covid in your country as of that day.

In [10]:
death_data['probability_of_death'] = (death_data['total_deaths']/death_data['total_cases'])*100
death_data.fillna(0).head()

,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,population,probability_of_death,percentage_per_population
0,Asia,Afghanistan,24/02/2020,5.0,5.0,0.0,0.0,39835428.0,0.0,0.000013
1,Asia,Afghanistan,25/02/2020,5.0,0.0,0.0,0.0,39835428.0,0.0,0.000013
2,Asia,Afghanistan,26/02/2020,5.0,0.0,0.0,0.0,39835428.0,0.0,0.000013
3,Asia,Afghanistan,27/02/2020,5.0,0.0,0.0,0.0,39835428.0,0.0,0.000013
4,Asia,Afghanistan,28/02/2020,5.0,0.0,0.0,0.0,39835428.0,0.0,0.000013

* Countries with Highest Infection Rate compared per thier Population

In [ ]:
death_data.sort_values(by='case_percentage_per_population',ascending=False)

Countries with Highest Death Count per Population

In [ ]:
country_death_count = death_data.groupby("location")["new_deaths"].sum()
country_death_count.sort_values(ascending=False)

<h3>Continent Analysis</h3>

Showing contintents with the highest death count per population

In [ ]:
continent_death_count = death_data.groupby("continent")["new_deaths"].sum()
continent_death_count.sort_values(ascending=False)

Total cases VS Total Death for each continent

In [ ]:
death_percentage_for_continents =(death_data.groupby("continent")["new_deaths"].sum() / death_data.groupby("continent")["new_cases"].sum())*100
death_percentage_for_continents.sort_values(ascending=False)

<h2> Global Death Numbers </h2>

In [ ]:
global_death_percentage = (death_data['new_deaths'].sum()/death_data['new_cases'].sum())*100
print("Total Cases : ",death_data['new_cases'].sum(),"\nTotal Deaths : ",death_data['new_deaths'].sum(),"\nDeath Percentage : ",global_death_percentage)

<center>
<h2> VACINATION CENCUS ANALYSIS</h2>
</center>

Selecting Columns for Analysis

In [ ]:
vacination_data = vacination_data[['continent','location','date','population','new_vaccinations']]
vacination_data.fillna(0)

In [ ]:
gh= vacination_data.groupby(["location","population"])["new_vaccinations"].sum()

Total Population vs Vaccinations(CONTINENT)
* Shows Percentage of Population that has recieved at least one Covid Vaccine

In [ ]:
continent_vaccination =(vacination_data_sample.groupby("continent")["new_vaccinations"].sum() / vacination_data_sample.groupby("continent")["population"].sum())*100
continent_vaccination.sort_values(ascending=False)

Total Population vs Vaccinations(Country)
* Shows Percentage of Population that has recieved at least one Covid Vaccine

In [ ]:
country_vaccination =(vacination_data_sample.groupby("location")["new_vaccinations"].sum() / vacination_data_sample.groupby("location")["population"].sum())*100
country_vaccination.sort_values(ascending=False).head()