<center>
<h1> COVID 19 WORLD DATA ANALYSIS</h1>
</center>

In [1]:
import numpy as np  
import pandas as pd

<h3>Reading data into Pandas Dataframe</h3>

* Dataset: Our Word In Data - [Coronavirus Pandemic Data](https://ourworldindata.org/coronavirus)<br>
* The dataset contains global covid 19 case census.

In [2]:
death_data = pd.read_csv('covid-death-data.csv')
death_data.dropna(subset=['continent','location']).head()

,iso_code,continent,location,date,population,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,24/02/2020,39835428.0,5.0,5.0,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,25/02/2020,39835428.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,26/02/2020,39835428.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,27/02/2020,39835428.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,28/02/2020,39835428.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [3]:
newcases = death_data["new_cases"].sum()
newcases

2224568241.0

In [3]:
vacination_data = pd.read_csv('covid-vacination-data.csv')
death_data.dropna(subset=['continent','location']).head()

,iso_code,continent,location,date,population,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,24/02/2020,39835428.0,5.0,5.0,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,25/02/2020,39835428.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,26/02/2020,39835428.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,27/02/2020,39835428.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,28/02/2020,39835428.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

* Cleaning unnecesarry columns for this analysis

In [4]:
death_data=death_data[death_data["location"].str.contains("World")==False]
death_data=death_data[death_data["location"].str.contains("Upper middle income")==False]
death_data=death_data[death_data["location"].str.contains("High income")==False]
death_data=death_data[death_data["location"].str.contains("Europe")==False]
death_data=death_data[death_data["location"].str.contains("Africa")==False]
death_data=death_data[death_data["location"].str.contains("Asia")==False]
death_data=death_data[death_data["location"].str.contains("South America")==False]
death_data=death_data[death_data["location"].str.contains("North America")==False]
death_data=death_data[death_data["location"].str.contains("Lower middle income")==False]

In [5]:
vacination_data=vacination_data[vacination_data["location"].str.contains("World")==False]
vacination_data=vacination_data[vacination_data["location"].str.contains("High income")==False]
vacination_data=vacination_data[vacination_data["location"].str.contains("Upper middle income")==False]
vacination_data=vacination_data[vacination_data["location"].str.contains("Lower middle income")==False]
vacination_data=vacination_data[vacination_data["location"].str.contains("Africa")==False]
vacination_data=vacination_data[vacination_data["location"].str.contains("Asia")==False]
vacination_data=vacination_data[vacination_data["location"].str.contains("Europe")==False]
vacination_data=vacination_data[vacination_data["location"].str.contains("North America")==False]
vacination_data=vacination_data[vacination_data["location"].str.contains("South America")==False]

<center>
<h2> DEATH CENCUS ANALYSIS</h2>
</center>

* Selecting Columns for Analysis

In [6]:
death_data = death_data[['continent','location','date','total_cases','new_cases','total_deaths','new_deaths','population']]
death_data.fillna(0).head()

,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,population
0,Asia,Afghanistan,24/02/2020,5.0,5.0,0.0,0.0,39835428.0
1,Asia,Afghanistan,25/02/2020,5.0,0.0,0.0,0.0,39835428.0
2,Asia,Afghanistan,26/02/2020,5.0,0.0,0.0,0.0,39835428.0
3,Asia,Afghanistan,27/02/2020,5.0,0.0,0.0,0.0,39835428.0
4,Asia,Afghanistan,28/02/2020,5.0,0.0,0.0,0.0,39835428.0


<h3>Total Cases vs Population </h3>

* Shows what percentage of population infected with Covid

In [8]:

death_data['case_percentage_per_population'] = (death_data['total_cases']/death_data['population'])*100
death_data.fillna(0).head()

,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,population,case_percentage_per_population
0,Asia,Afghanistan,24/02/2020,5.0,5.0,0.0,0.0,39835428.0,0.000013
1,Asia,Afghanistan,25/02/2020,5.0,0.0,0.0,0.0,39835428.0,0.000013
2,Asia,Afghanistan,26/02/2020,5.0,0.0,0.0,0.0,39835428.0,0.000013
3,Asia,Afghanistan,27/02/2020,5.0,0.0,0.0,0.0,39835428.0,0.000013
4,Asia,Afghanistan,28/02/2020,5.0,0.0,0.0,0.0,39835428.0,0.000013

<h3>Total Cases vs Total Deaths</h3>

* Shows probability of dying if you contract covid in your country as of that day.

In [9]:
death_data['probability_of_death'] = (death_data['total_deaths']/death_data['total_cases'])*100
death_data.fillna(0).head()

,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,population,case_percentage_per_population,probability_of_death
0,Asia,Afghanistan,24/02/2020,5.0,5.0,0.0,0.0,39835428.0,0.000013,0.0
1,Asia,Afghanistan,25/02/2020,5.0,0.0,0.0,0.0,39835428.0,0.000013,0.0
2,Asia,Afghanistan,26/02/2020,5.0,0.0,0.0,0.0,39835428.0,0.000013,0.0
3,Asia,Afghanistan,27/02/2020,5.0,0.0,0.0,0.0,39835428.0,0.000013,0.0
4,Asia,Afghanistan,28/02/2020,5.0,0.0,0.0,0.0,39835428.0,0.000013,0.0

* Shows countries with Highest Infection Rate per thier Population

In [10]:
death_data.sort_values(by='case_percentage_per_population',ascending=False)

,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,population,case_percentage_per_population,probability_of_death
56696,Europe,Faeroe Islands,01/05/2022,34658.0,0.0,28.0,0.0,49053.0,70.65419,0.080789
56679,Europe,Faeroe Islands,14/04/2022,34658.0,0.0,28.0,0.0,49053.0,70.65419,0.080789
56667,Europe,Faeroe Islands,02/04/2022,34658.0,0.0,28.0,0.0,49053.0,70.65419,0.080789
56668,Europe,Faeroe Islands,03/04/2022,34658.0,0.0,28.0,0.0,49053.0,70.65419,0.080789
56669,Europe,Faeroe Islands,04/04/2022,34658.0,0.0,28.0,0.0,49053.0,70.65419,0.080789
...,...,...,...,...,...,...,...,...,...,...
177898,North America,United States Virgin Islands,10/05/2022,NaN,NaN,NaN,NaN,104218.0,NaN,NaN
177899,North America,United States Virgin Islands,11/05/2022,NaN,NaN,NaN,NaN,104218.0,NaN,NaN
177900,North America,United States Virgin Islands,12/05/2022,NaN,NaN,NaN,NaN,104218.0,NaN,NaN
177901,North America,United States Virgin Islands,13/05/2022,NaN,NaN,NaN,NaN,104218.0,NaN,NaN
183905,Africa,Western Sahara,20/04/2022,NaN,NaN,NaN,NaN,611872.0,NaN,NaN

* Shows countries with Highest Death Count per Population

In [11]:
country_death_count = death_data.groupby(["location","population"])["new_deaths"].sum()
country_death_count.sort_values(ascending=False)

location       population
United States  3.329151e+08    999842.0
Brazil         2.139934e+08    665216.0
India          1.393409e+09    516887.0
Russia         1.459120e+08    370145.0
Mexico         1.302622e+08    317572.0
                                 ...
Tokelau        1.368000e+03         0.0
Tuvalu         1.192500e+04         0.0
Jersey         1.010730e+05         0.0
Turkmenistan   6.117933e+06         0.0
Puerto Rico    2.828246e+06         0.0
Name: new_deaths, Length: 230, dtype: float64

<h3>Continent Analysis</h3>

* Showing contintents with the highest death count per population

In [12]:
continent_death_count = pd.DataFrame()
continent_death_count["number_of_death"]=death_data.groupby(["continent"])["new_deaths"].sum()

In [13]:
continent_death_count.reset_index()

       continent  number_of_death
0         Africa         152715.0
1           Asia        1425264.0
2         Europe        1830725.0
3  North America        1432300.0
4        Oceania          11517.0
5  South America        1272261.0

* Total cases VS Total Death for each continent

In [14]:
death_percentage_for_continents =(death_data.groupby("continent")["new_deaths"].sum() / death_data.groupby("continent")["new_cases"].sum())*100
death_percentage_for_continents.sort_values(ascending=False)

continent
South America    2.231285
Africa           1.936491
North America    1.465149
Asia             0.946989
Europe           0.935174
Oceania          0.142184
dtype: float64

<h3> Global Death Numbers </h3>

In [15]:
global_death_percentage = (death_data['new_deaths'].sum()/death_data['new_cases'].sum())*100
print("Total Cases : ",death_data['new_cases'].sum(),"\nTotal Deaths : ",death_data['new_deaths'].sum(),"\nDeath Percentage : ",global_death_percentage)

Total Cases :  526957236.0
Total Deaths :  6179519.0
Death Percentage :  1.1726794088467551

<center>
<h2> VACINATION CENCUS ANALYSIS</h2>
</center>

* Selecting Columns for Analysis

In [7]:
vacination_data = vacination_data[['continent','location','date','population','new_vaccinations']]
vacination_data.replace([np.inf, -np.inf], np.nan, inplace=True)
vacination_data.fillna(0).head()

  continent     location        date  population  new_vaccinations
0      Asia  Afghanistan  24/02/2020  39835428.0               0.0
1      Asia  Afghanistan  25/02/2020  39835428.0               0.0
2      Asia  Afghanistan  26/02/2020  39835428.0               0.0
3      Asia  Afghanistan  27/02/2020  39835428.0               0.0
4      Asia  Afghanistan  28/02/2020  39835428.0               0.0

<h3>Total Population vs Vaccinations(CONTINENT)</h3>

* Shows Percentage of Population that has recieved at least one Covid Vaccine

In [17]:
continent_vaccination =(vacination_data.groupby("continent")["new_vaccinations"].sum() / vacination_data.groupby("continent")["population"].sum())*100
continent_vaccination.sort_values(ascending=False)

continent
South America    0.217583
Oceania          0.193077
Asia             0.176077
North America    0.176027
Europe           0.172655
Africa           0.009150
dtype: float64

<h3>Total Population vs Vaccinations(Country)</h3>

* Shows Percentage of Population that has recieved at least one Covid Vaccine

In [18]:
country_vaccination =(vacination_data.groupby("location")["new_vaccinations"].sum() / vacination_data.groupby("location")["population"].sum())*100
country_vaccination.replace([np.inf, -np.inf], np.nan, inplace=True)
country_vaccination.sort_values(ascending=False).head()

location
Cuba         0.352555
Chile        0.347617
Gibraltar    0.340503
Singapore    0.304391
Malta        0.302231
dtype: float64

<center><h2>Creating tables for Visualization</h2></center>

In [19]:
continent_pop = pd.DataFrame()
continent_pop["Population"]=vacination_data.groupby("continent")["population"].sum()
continent_pop.reset_index()
continent_pop.head()

                 Population
continent
Africa         1.044727e+12
Asia           3.883631e+12
Europe         6.217463e+11
North America  5.024020e+11
Oceania        3.533046e+10

In [20]:
continent_data = pd.DataFrame()

In [21]:
continent_data

       continent  percentage_vacinated
0         Africa              0.009150
1           Asia              0.176077
2         Europe              0.172655
3  North America              0.176027
4        Oceania              0.193077
5  South America              0.217583

In [24]:
world_table = pd.DataFrame()

In [25]:
world_table["Total Cases"] = newcases

In [26]:
world_table.head()

Empty DataFrame
Columns: [Total Cases]
Index: []